{% extends 'base.html.twig' %}

{% block title %}S'enregistrer
{% endblock %}

{% block body %}
	<div class="login_container">
		<h2 class="login_title">S'enregistrer</h2>
		{% if first_suscriber %}
			<h3>Création du compte administrateur</h3>
		{% else %}
			<div class="disclaimer">
				<div>Déjà inscrit ?</div>
				<div>
					<a href="{{ path('app_login')}}">Connectez vous en cliquant ici</a>
				</div>
			</div>
		{% endif %}


		{{ form_start(registrationForm) }}
		<div>
		{{ form_label(registrationForm.email, 'Votre e-mail :') }}
		{{ form_widget(registrationForm.email, {'attr' : {'class' : 'input_form'}}) }}
		{% if form_errors(registrationForm.email) %}
			<div class="message_error">
				{{ form_errors(registrationForm.email) }}
			</div>
		{% endif %}
		</div>
		<div>
		{{ form_label(registrationForm.plainPassword.first, 'Votre mot de passe :') }}
		{{ form_widget(registrationForm.plainPassword.first, {'attr' : {'class' : 'input_form'}}) }}
		{% if form_errors(registrationForm.plainPassword.first) %}
			<div class="message_error">
				{{ form_errors(registrationForm.plainPassword.first) }}
			</div>
		{% endif %}
		</div>
		<div>
		{{ form_label(registrationForm.plainPassword.second, 'Confirmez le mot de passe :') }}
		{{ form_widget(registrationForm.plainPassword.second, {'attr' : {'class' : 'input_form'}}) }}
		{% if form_errors(registrationForm.plainPassword.second) %}
			<div class="message_error">
				{{ form_errors(registrationForm.plainPassword.second) }}
			</div>
		{% endif %}
		</div>

{# Show form for the administrator #}
		{% if first_suscriber %}
			<h3>Informations du restaurant</h3>
				<div>
					{{ form_label(registrationForm.address, 'Adresse :') }}
		{{ form_widget(registrationForm.address, {'attr' : {'class' : 'input_form'}}) }}
		{% if form_errors(registrationForm.address) %}
			<div class="message_error">
				{{ form_errors(registrationForm.address) }}
			</div>
		{% endif %}
				</div>
				<div>
					{{ form_label(registrationForm.post_code, 'Code Postal :') }}
		{{ form_widget(registrationForm.post_code, {'attr' : {'class' : 'input_form'}}) }}
		{% if form_errors(registrationForm.post_code) %}
			<div class="message_error">
				{{ form_errors(registrationForm.post_code) }}
			</div>
		{% endif %}
				</div>
				<div>
					{{ form_label(registrationForm.city, 'Ville :') }}
		{{ form_widget(registrationForm.city, {'attr' : {'class' : 'input_form'}}) }}
		{% if form_errors(registrationForm.city) %}
			<div class="message_error">
				{{ form_errors(registrationForm.city) }}
			</div>
		{% endif %}
				</div>
				<div>
				{{ form_label(registrationForm.phone, 'Numéro de téléphone :') }}
		{{ form_widget(registrationForm.phone, {'attr' : {'class' : 'input_form'}}) }}
		{% if form_errors(registrationForm.phone) %}
			<div class="message_error">
				{{ form_errors(registrationForm.phone) }}
			</div>
		{% endif %}
				</div>
				<div>
				{{ form_label(registrationForm.max_capacity, 'Capacity maximale :') }}
		{{ form_widget(registrationForm.max_capacity, {'attr' : {'class' : 'input_form'}}) }}
		{% if form_errors(registrationForm.max_capacity) %}
			<div class="message_error">
				{{ form_errors(registrationForm.max_capacity) }}
			</div>
		{% endif %}
				</div>
{# Showw form for user #}
		{% else %}
		<div>
		{{ form_label(registrationForm.number, 'Convives par défault:') }}
		{{ form_widget(registrationForm.number, {'attr' : {'class' : 'input_form'}}) }}
		{% if form_errors(registrationForm.number) %}
			<div class="message_error">
				{{ form_errors(registrationForm.number) }}
			</div>
		{% endif %}
		</div>
		<div>
		{{ form_label(registrationForm.allergies, 'Vos allergies :') }}
		{{ form_widget(registrationForm.allergies) }}
		{% if form_errors(registrationForm.allergies) %}
			<div class="message_error">
				{{ form_errors(registrationForm.allergies) }}
			</div>
		{% endif %}
		</div>	

		{% endif %}

		<div class='cgu_input'>
			<div>
				{{ form_label(registrationForm.agreeTerms) }}
			</div>
			<div>
				{{ form_widget(registrationForm.agreeTerms) }}
			</div>

		</div>
		{% if form_errors(registrationForm.agreeTerms) %}
			<div class="message_error">
				{{ form_errors(registrationForm.agreeTerms) }}
			</div>
		{% endif %}
		<div>
			<a href="{{path('app_cgu')}}" class="cgu">Lire les CGU</a>
		</div>
		<div>
			<button type="submit" class="submit_button">Créer un compte</button>
		</div>
		{{ form_end(registrationForm) }}

	</div>
{% endblock %}
