{% extends 'base.html.twig' %}

{% block title %}S'enregistrer
{% endblock %}

{% block body %}
	<div class="login_container">
		<h2 class="login_title">S'enregistrer</h2>
		{% if first_suscriber %}
			<h3>Création du compte administrateur</h3>
		{% else %}
			<div class="disclaimer">
				<div>Déjà inscrit ?</div>
				<div>
					<a href="{{ path('app_login')}}">Connectez vous en cliquant ici</a>
				</div>
			</div>
		{% endif %}


		{{ form_start(registrationForm) }}

		{{ form_row(registrationForm.email, {
                    label: 'Votre e-mail :'
                }) }}
		{% if form_errors(registrationForm.email) %}

			<div class="message_error">
				{{ form_errors(registrationForm.email) }}
			</div>
		{% endif %}

		{{ form_row(registrationForm.plainPassword.first, {
            label: 'Votre mot de passe :'
        }) }}
		{% if form_errors(registrationForm.plainPassword.first) %}

			<div class="message_error">
				{{ form_errors(registrationForm.plainPassword.first) }}
			</div>
		{% endif %}
		{{ form_row(registrationForm.plainPassword.second, {
            label: 'Confirmez le mot de passe :'
        }) }}
		{% if form_errors(registrationForm.plainPassword.second) %}

			<div class="message_error">
				{{ form_errors(registrationForm.plainPassword.second) }}
			</div>
		{% endif %}

		{% if first_suscriber %}
			<h3>Informations du restaurant</h3>
			{{ form_row(registrationForm.address, {
            label: 'Adresse :'
        }) }}
			{% if form_errors(registrationForm.address) %}

				<div class="message_error">
					{{ form_errors(registrationForm.address) }}
				</div>
			{% endif %}

			{{ form_row(registrationForm.post_code, {
            label: 'Code Postal :'
        }) }}
			{% if form_errors(registrationForm.post_code) %}

				<div class="message_error">
					{{ form_errors(registrationForm.post_code) }}
				</div>
			{% endif %}

			{{ form_row(registrationForm.city, {
            label: 'Ville :'
        }) }}
			{% if form_errors(registrationForm.city) %}

				<div class="message_error">
					{{ form_errors(registrationForm.city) }}
				{% endif %}
			</div>

			{{ form_row(registrationForm.phone, {
            label: 'Numéro de téléphone :'
        }) }}
			{% if form_errors(registrationForm.phone) %}
				<div class="message_error">
					{{ form_errors(registrationForm.phone) }}
				</div>
			{% endif %}

			{{ form_row(registrationForm.max_capacity, {
            label: 'Capacité maximale :'
        }) }}
			{% if form_errors(registrationForm.max_capacity) %}
				<div class="message_error">
					{{ form_errors(registrationForm.max_capacity) }}
				</div>
			{% endif %}

		{% else %}
			{{ form_row(registrationForm.number, {
            label: 'Convives par défaut :'
        }) }}
			{% if form_errors(registrationForm.number) %}
				<div class="message_error">
					{{ form_errors(registrationForm.number) }}
				</div>
			{% endif %}

			{{ form_row(registrationForm.allergies, {
            label: 'Vos allergies :'
        }) }}
			{% if form_errors(registrationForm.allergies) %}
				<div class="message_error">
					{{ form_errors(registrationForm.allergies) }}
				</div>
			{% endif %}
		{% endif %}

		<div class='cgu_input'>
			<div>
				{{ form_label(registrationForm.agreeTerms) }}
			</div>
			<div>
				{{ form_widget(registrationForm.agreeTerms) }}
			</div>

		</div>
		{% if form_errors(registrationForm.agreeTerms) %}
			<div class="message_error">
				{{ form_errors(registrationForm.agreeTerms) }}
			</div>
		{% endif %}
		<div>
			<a href="{{path('app_cgu')}}" class="cgu">Lire les CGU</a>
		</div>
		<div>
			<button type="submit" class="submit_button">Créer un compte</button>
		</div>
		{{ form_end(registrationForm) }}

	</div>
{% endblock %}
