{% extends 'base.html.twig' %}

{% block description %}Réservez vite votre table en ligne, le restaurant vous accueille sur les horaires suivantes :
  {% for day in schedule %}  {{day.day}} Midi - {% if day.noonClosed %}Fermé{% else %}{{day.noonStart|date("H:i", "Europe/Paris")}} - {{day.noonEnd|date("H:i", "Europe/Paris")}}{% endif %} / Soir -{% if day.eveningClosed %}Fermé{% else %}{{day.eveningStart|date("H:i", "Europe/Paris")}} - {{day.eveningEnd|date("H:i", "Europe/Paris")}}{% endif %}{% endfor %}{% endblock %}

{% block title %}Le Quai Antique - Réserver une table
{% endblock %}

{% block body %}
	{% if app.user %}
		{% if app.user.client %}
			{% set userId = app.user.id %}
			{% set userEmail = app.user.email %}
			{% set userLastname = app.user.client.lastname %}
			{% set userFirstname = app.user.client.firstname %}
			{% set userAllergies = app.user.client.allergies %}
			{% set userPhone = app.user.client.phone %}
			{% set userNumber = app.user.client.number %}
		{% else %}
			{% set userId = null %}
			{% set userEmail = null %}
			{% set userLastname = null %}
			{% set userFirstname = null %}
			{% set userAllergies = null %}
			{% set userPhone = null %}
			{% set userNumber = null %}
		{% endif %}
	{% else %}
		{% set userId = null %}
		{% set userEmail = null %}
		{% set userLastname = null %}
		{% set userFirstname = null %}
		{% set userAllergies = null %}
		{% set userPhone = null %}
		{% set userNumber = null %}
	{% endif %}
	{% set BookingCSRFToken = csrf_token('booking') %}


	<div {{ react_component('Booking', {userId, userEmail, userLastname, userFirstname, userAllergies, userPhone, userNumber, BookingCSRFToken } )}}></div>
{% endblock %}
