{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - se connecter
{% endblock %}

{% block body %}
	<div class="login_container">
		<h2 class="login_title">Connexion</h2>
		<div class="disclaimer">
			<div>Pas encore de compte ?</div>
			<div>
				<a href="{{ path('app_register')}}">Créez en un en cliquant ici</a>
			</div>
		</div>
		{% if error %}
			<div>{{ error.messageKey|trans(error.messageData, 'security')}}</div>
		{% endif %}
		<form action="{{ path('app_login') }}" method="post">
			<div class="email_div">
				<label for="username">Votre e-mail:</label>
				<input type="text" id="username" name="_username" value="{{ last_username }}">
			</div>
			<div class="password_div">
				<label for="password">Votre mot de passe:</label>
				<input type="password" id="password" name="_password">
				<a href="{{ path('app_forgot_password_request')}}">Mot de passe oublié ?</a>
			</div>

			<div>
				<button type="submit" class="submit_button">Se connecter</button>
			</div>
		</form>


	</div>
{% endblock %}
