<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="/img/logo_clear.svg">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<header>
				<div class="logo_container">
					<a href="{{path('app_index')}}">
						<div class="logo">
							<img src="/img/logo_clear.svg" alt="Le Quai Antique">
						</div>
					</a>
					<div class="site_title">
						Le Quai<br/>
						Antique
					</div>
				</div>
				<div class="top_menu">

					<ul class="link_list">
						<a href="{{path('app_dishes')}}">
							<li class="link_item">La Carte</li>
						</a>
						<a href="{{path('app_menus')}}">
							<li class="link_item">Les Menus</li>
						</a>
						<a href="{{path('login_success')}}">
							<li class="link_item">Mon Compte</li>
						</a>
					</ul>

					<div class="burger">
						<label for="show_menu">
							<svg viewbox="0 0 32 32" fill="#ededed">
								<rect x="0" y="4" rx="3" ry="3" width="32" height="3"/>
								<rect x="0" y="14" rx="3" ry="3" width="32" height="3"/>
								<rect x="0" y="24" rx="3" ry="3" width="32" height="3"/>
							</svg>
						</label>
						<input type="checkbox" name="burger" id="show_menu" class="burgerInput">
					</div>

				</div>
				<div class="button_container">
					<a href="{{path('app_booking')}}">
						<div class="booking_button">
							<p>Réserver</p>
						</div>
					</a>
				</div>
			</header>
		{% endblock %}
		<main>
			{% block body %}{% endblock %}
		</main>

		{% block footer %}
			<footer>
				<div class="schedule">
					<p>Horaires d'ouverture</p>
					<div {{ react_component('ScheduleBase')}}></div>
				</div>
				<div class="site_map">
					<div class="map">
						<p>Plan du site</p>
						<br/>
						<p>
							<a href="{{path('app_index')}}">Accueil</a>
						</p>
						<p>
							<a href="{{path('app_dishes')}}">La Carte</a>
						</p>
						<p>
							<a href="{{path('app_menus')}}">Les Menus</a>
						</p>
						<p>
							<a href="{{path('login_success')}}">Mon Compte</a>
						</p>
						<p>
							<a href="{{path('app_booking')}}">Réserver</a>
						</p>
					</div>
					<div class="cgu">
						<a href="#">CGU</a>
					</div>
				</div>
				<div class="address">
					<div {{ react_component('AddressBase')}}></div>
				</div>
			</footer>
		{% endblock %}
	</body>
</html>
