<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Bienvenue
			{% endblock %}
		</title>
		{% if info %}
			<meta name="description" content="{% block description %}Le quai antique - Restaurant situé à {{info.address}} {{info.postCode}} {{info.city}} tél : {{info.phone}}{% endblock %}">
		{% endif %}
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="{{ app.request.uri }}"/>
		<meta property="og:locale" content="fr_FR"/>
		<meta name="geo.placename" content="{{ info.city }}"/>

		<link
		rel="icon" href="/img/logo_clear.svg">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<header>
				<div class="logo_container">
					<a href="{{path('app_index')}}">
						<div class="logo">
							<img src="/img/logo_clear.svg" alt="Le Quai Antique">
						</div>
					</a>
					<div class="site_title">
					<a href="{{path('app_index')}}">
						Le Quai </a><br/>
						<a href="{{path('app_index')}}">
						Antique</a>
						
					</div>
				</div>
				<div class="top_menu">
					{% set currentPath = app.request.attributes.get('_route') %}
					<ul class="link_list">
						<a href="{{path('app_dishes')}}">
							<li {% if currentPath == 'app_dishes' %} class="link_active link_item" {% else %} class="link_item" {% endif %}>La Carte</li>
						</a>
						<a href="{{path('app_menus')}}">
							<li {% if currentPath == 'app_menus' %} class="link_active link_item" {% else %} class="link_item" {% endif %}>Les Menus</li>
						</a>
						<a href="{{path('login_success')}}">
							<li {% if currentPath == 'app_login' or currentPath == 'app_register' or 'app_admin' in currentPath or 'app_user' in currentPath %} class="link_active link_item" {% else %} class="link_item" {% endif %}>Mon Compte</li>
						</a>
					</ul>

					<div class="burger">
						<label for="show_menu" class="burger_label">
							<svg viewbox="0 0 32 32" fill="#ededed">
								<rect x="0" y="4" rx="3" ry="3" width="32" height="3"/>
								<rect x="0" y="14" rx="3" ry="3" width="32" height="3"/>
								<rect x="0" y="24" rx="3" ry="3" width="32" height="3"/>
							</svg>
						</label>
						<input type="checkbox" name="burger" id="show_menu" class="burgerInput">
					</div>

				</div>
				<div class="button_container">
					<a href="{{path('app_booking')}}">
						<div class="booking_button">
							<p>Réserver</p>
						</div>
					</a>
				</div>
			</header>
			<div class="button_responsive">
					<a href="{{path('app_booking')}}">
						<div class="booking_button">
							<p>Réserver</p>
						</div>
					</a>
				</div>
		{% endblock %}
		<main>
			{% block body %}{% endblock %}
		</main>

		{% block footer %}
			<footer>
				<div class="schedule">
					<p>Horaires d'ouverture</p>
					<table>
						<thead>
							<tr>
								<th></th>
								<th>Midi</th>
								<th>Soir</th>
							</tr>
						</thead>
						<tbody>
							{% for day in schedule %}
								<tr>
									<td>{{day.day}}</td>
									{% if day.noonClosed %}
										<td>Fermé</td>
									{% else %}
										<td>
											{{day.noonStart|date("H:i", "Europe/Paris")}}
											{{day.noonEnd|date("H:i", "Europe/Paris")}}
										</td>
									{% endif %}
									{% if day.eveningClosed %}
										<td>Fermé</td>
									{% else %}
										<td>
											{{day.eveningStart|date("H:i", "Europe/Paris")}}
											{{day.eveningEnd|date("H:i", "Europe/Paris")}}
										</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
				<div class="site_map">
					<div class="map">
						<p>Plan du site</p>
						<br/>
						<p>
							<a href="{{path('app_index')}}">Accueil</a>
						</p>
						<p>
							<a href="{{path('app_dishes')}}">La Carte</a>
						</p>
						<p>
							<a href="{{path('app_menus')}}">Les Menus</a>
						</p>
						<p>
							<a href="{{path('login_success')}}">Mon Compte</a>
						</p>
						<p>
							<a href="{{path('app_booking')}}">Réserver</a>
						</p>
					</div>
					<div class="cgu">
						<a href="{{path('app_cgu')}}">CGU</a>
					</div>
				</div>
				<div class="address">
					{% if info %}
						<p>Le Quai Antique</p>
						<p>{{info.address}}</p>
						<p>{{info.postCode}}
							{{info.city}}</p>
						<p>tél :
							{{info.phone}}</p>
					{% endif %}
				</div>
			</footer>
		{% endblock %}
	</body>
</html>
